<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar asistencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <br>
  <div class="image-container">
    <img src="assets/ejemploQR.jpg" alt="QR para registrar asistencias">
  </div>
  <br><br>
  <div class="ion-text-center">
    <ion-button>Continuar</ion-button>
  </div>
</ion-content>
