<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar asistencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <br>
  <div class="image-container">
    <img src="assets/ejemploQR.jpg" alt="QR para registrar asistencias">
  </div>
  <br><br>
  <div class="ion-text-center submit">
    <ion-button (click)="startScan()" class="submit" expand="block">Escanear
      <ion-icon slot="end" name="scan-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-item class="result" *ngIf="scanResult" lines="none">
    <ion-label>
      <p>Scan Result</p>
      <div>{{scanResult}}</div></ion-label>
  </ion-item>
</ion-content>
